*{
    box-sizing: border-box;
}

body{
    margin:0;
}

img{
   max-width:100%;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.img{
    grid-column: 0;
}