@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Oswald:wght@500&display=swap');

/* begin*/
*{
    box-sizing: border-box;
    /*화면 안의 크기가 화면 보다 넘어가지 않게 함*/
    max-width: 1600px;
}
 
body{
    font-family:Hind Siliguri, bradley Hand, sans-serif;
    padding: 0;
    margin:0;
    background-color: antiquewhite;
}

img{
    max-width: 100%;
}

/*header*/
header{
    background-color:#f7fff6; 
    display: grid;
    grid-template-columns: 150px auto;
}
    

#logo{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a{
    text-decoration:none;
    color:#15b097;
    font-size: 40px;
    font-family:Oswald;
    
}

nav a:hover{
    background-color:#db6c79;
    color:#f7fff6;
}

/*footer*/

footer{
    background-color:#f7fff6;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3{
    color:#3590f3;
}

footer a{
    color:#15b097;
    text-decoration:none;
}

footer a:hover{
    background-color:#db6c79;
    color:#f7fff6;
}

footer .social img{
    padding-top: 15px;
}
