*{
    box-sizing: border-box;
}

body{
    margin:0;
}

img{
   max-width:100%;
}

.img{
    background-color:grey;
    text-align: center;
}

.img img {
        width:20%;
        border-radius: 50%;
        border:8px solid #333;
}



.center{
    text-align: center;
    margin:0;
    width: 100%;
    padding:0;
    margin-bottom: -5px;

}
.img{
    display: block;
    justify-content: space-between;
    padding: 60px;
    text-align: center;
    
}

div img{
    margin: 50px
}


.center2{
    padding:0;
    
}

/* images*/
.desk{
   border: solid rgb(55, 55, 55) 10px; 
}
.graphic{
   border: solid rgb(55, 55, 55) 10px;
}
.person{
   border: solid rgb(55, 55, 55) 10px; 

}

.xyz {
    width: 100%;
}

body {
    margin:0;
    padding:0;
}

