*{
    box-sizing: border-box;
}

body{
    margin:0;
    display:flex;
    flex-wrap: wrap;
}

img{
   max-width:100%;
}


main{
    display:flex; 
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gray{ 
    background-color: gray;
    grid-column: 2/3;
}

.cherries{
    color: darkred;
    position: absolute;
    text-align: center;
    font-size: 80px;
    top: 490px;
    height:400px;
    width:100px;
    left: 800px;
    margin: 0;
}

.letter{
    font-size: 180px;
    position: absolute;
    text-align: center;
    top:80px;
    left: 120px;
    margin: 0;
}
